
@{
    ViewBag.Title = "HW1";
}

<h4>姓名: <input type="text" name="name" value="" /></h4>
<br>
<h4>帳號: <input type="text" name="name" value="" /></h4>
<br>
<h4>姓名: <input type="text" name="name" value="" /></h4>
<br>
<h4>性別: <input type="radio" name="name" value="A" />男性<input type="radio" name="name" value="B" />女性</h4>
<br>
<h4>興趣: <input type="checkbox" name="name" value="A" />游泳<input type="checkbox" name="name" value="A" />閱讀<input type="checkbox" name="name" value="A" />看電影</h4>
<br>
<h4>自我介紹: <textarea name="message"rows="5"cols="19"></textarea>></h4>
<br>


